{% extends 'base.html.twig' %}
{% block title %}{{ parent() }} Admin{% endblock %}
{% block body %}
    <div class="container-fluid">
        <div class="row">
            <div class="col mt-5">
                <div class=" bg-blue-gradient shadow rounded">
                    <h1 class="text-grey-inherit text-center p-4">Gestion des actus</h1>
                    <table class="table-responsive-sm table-striped table text-green-inherit mt-4">
                        <tbody>
                            {% if news|length > 0 %}
                                {% for n in news %}
                                    <tr>
                                        <td>
                                            {{ n.title }}
                                        </td>
                                        <td>
                                            {{ n.author.name }} {{ n.author.lastName }}
                                        </td>
                                        <td>
                                            <a href="{{ path('admin_news_enable', {id: n.id}) }}" class="{{ n.isActive ? 'text-danger' : 'text-green-inherit' }}">
                                                {{ n.isActive ? 'Désactiver' : 'Activer' }}
                                            </a>
                                        </td>
                                        <td>
                                            <a href="{{ path('admin_news_delete', {id: n.id}) }}"><i class="fas fa-trash text-danger"></i></a>
                                        </td>
                                    </tr>
                                {% endfor %}
                            {% endif %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}