<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Team Occitan - {% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <script src="https://kit.fontawesome.com/a499f7b8cf.js" crossorigin="anonymous"></script>
        <link rel="shortcut icon" type="image/png" href="{{ asset('assets/logo-tor.png') }}"/>
        {% block stylesheets %}{{ encore_entry_link_tags('global') }}{% endblock %}
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    </head>
    <body>

    <div id="banner"></div>
    <div id="nav"></div>
        {% block body %}

        {% endblock %}
    <div id="footer"></div>
        {% block javascripts %}{{ encore_entry_script_tags('banner') }} {{ encore_entry_script_tags('nav') }} {{ encore_entry_script_tags('footer') }}{% endblock %}
    </body>
</html>
